extends ./layout
block title
	title Anglo | Diseño | contacto
block body
	body.contacto
		main
			include include/header.jade
			.banner.ed-container.full
				.ed-item.fondo.center
					.ed-container
						.ed-item
							h2 Contacto
					.contacto.ed-container.abcenter
						.ed-item.abcenter.no-padding
							include include/reserva.html
		include include/footer.jade