extends ./layout.jade
block title
	title Anglo | Diseño | gracias
body.gracias
	block container
		.banner.ed-container.full
			.ed-item.fondo.center
				.ed-container
					.ed-item
						h2 Contacto
				.contacto.ed-container.full.center
					.ed-item.no-padding
						include ../include/reserva.html