extends ./layout
block title
	title Anglo | Diseño | contacto
block body
	body.contacto
		main
			include include/header.jade
			.banner.ed-container.full
				.ed-item.fondo.center
					.ed-container
						.ed-item.abcenter
							h2 Contacto
							div +56 9 9991 9095
							br
							div
								a(href="mailto:andre@anglo.cl") andre@anglo.cl
							br
					.contacto.ed-container.abcenter
						.ed-item.abcenter.no-padding
							include include/reserva.html
		include include/footer.jade