extends ./layout.jade
block title
	title Anglo | Diseño | gracias
body.gracias
	block container
		.banner.ed-container.full
			.ed-item.fondo.center
				h1 Su mensaje se ha enviado con éxito
				p Muchas gracias por su reserva, será revisada y pronto nos comunicamos con Usted.
				a(href="javascript:history.back()") Volver Atrás
