extends ./layout
block title
	title Anglo | Diseño | inicio
block body
	body#home
		main
			include include/header.jade
			.banner.ed-container.full
				.ed-item.center
					.texto.center
						| "Diseñamos para ti, para tu carácter, para tu imagen, para tu entorno."
			.call.ed-container.abcenter
				.ed-item
					a.boton.solicitud(href="https://goo.gl/forms/SkSvR51zln9w1kiT2")
						| Solicite una Propuesta
		block footer
			include include/footer.jade