extends ./layout
block title
	title Anglo | Diseño | inicio
body.inicio
	block container
		.banner.ed-container.full
			.ed-item.fondo.center
				.texto.center
					| Diseñamos para ti, para tu carácter, para tu imagen, para tu entorno.
