doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/styles.css")
		//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		include include/scripts.jade
		block title
			title Anglo | Diseño
	block body
		body.layout
			block content
				main
					include include/header.jade
					block container
						.banner.ed-container.full
							.ed-item.center
								div contenido en layout
				block footer
					include include/footer.jade