extends ./layout
block title
	title Anglo | Diseño | Portafolio
block body
	body.portafolio
		main
			include include/header.jade
			.banner.ed-container.full
				.ed-item.fondo.center
					.ed-container
						.ed-item
							a(id="portafolio")
								h2 Portafolio
								.ed-container
									.ed-item
										nav
											ul.ed-menu.nav-bar.web-horizontal
												li: a(href="#web") web
												li: a(href="#marca") marca
												li: a(href="#disenos") diseños
												li: a(href="#video") video
					.ed-container
						.ed-item
							a(id="web")
							h3 web
							.ed-container
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 1
										.ed-item foto
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 2
										.ed-item foto
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 3
										.ed-item foto
						.ed-item
							a(id="marca")
							h3 marca
							.ed-container
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 1
										.ed-item foto
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 2
										.ed-item foto
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 3
										.ed-item foto
						.ed-item
							a(id="disenos")
							h3 diseños
							.ed-container
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 1
										.ed-item foto
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 2
										.ed-item foto
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 3
										.ed-item foto
						.ed-item
							a(id="video")
							h3 video
							.ed-container
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 1
										.ed-item foto
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 2
										.ed-item foto
								.ed-item.pieza.web-1-3
									.ed-container
										.ed-item ejemplo 3
										.ed-item foto
		include include/footer.jade
