extends ./layout.jade
block title
	title Anglo | Dise単o | Servicios
body.servicios
	block container
		.banner.ed-container.full
			.ed-item.fondo.center
				.ed-container
					.ed-item
						h2 Servicios
				.contacto.ed-container.full.center
					.ed-item.no-padding
						ul
							li Dise単o de Imagen Corporativa
							li Dise単o de Tarjetas
							li Dise単o Web
							li Seo
							li Sem

