extends ./layout
block title
	title Anglo | Dise単o | Servicios
block body
	body.servicios
		main
			include include/header.jade
			.banner.ed-container.full
				.ed-item.fondo.center
					.ed-container
						.ed-item
							h2 Servicios
					.ed-container.center
						.ed-item.no-padding
							ul
								li Dise単o de Imagen Corporativa
								li Dise単o de Tarjetas
								li Dise単o Web
								li Revistas Digitales
								li Estrategia y Marqueting Digital
		include include/footer.jade