footer
	.ed-container.total.copyr
		.ed-item
			.ed-container
				.ed-item
					.humans
						a(href="/humans.txt" target="_blank")
							img(src="img/img-humans/humanstxt-transparent-color.png" alt="HUMANS.txt")
					.texto
						| diseño y desarrollo 
						a(href="http://anglo.cl" target="_blank" title="anglo | diseño") anglo.cl