@mixin fondo($img)
{
	background-image: url($img);
	background-size: cover;
	// background-repeat: no-repeat;
	background-attachment: fixed;
	// background-position:0 -477px;
	background-position: center center;
}

body
{
	&#home,
	&#portafolio,
	&#servicios,
	&#contacto
	{
		@include fondo("/img/paisajes/volcan_osorno.jpg");
		&::before
		{
			background-color: rgba($blanco, .2);
			border-radius: 0 0 0 10px;
			color: rgba($negro, .5);
			content: "Volcán Osorno 2010";
			font-size: .8em;
			padding: .5em 1em;
			position: absolute;
			right:0;
			top: 0px;
		}
		&::after
		{
			content: "en construcción versión Beta 0.5.2";
			position: absolute;
			top: 0px;
			left:0;
			padding: .1em 1em .3em;
			background-color: rgba($blanco, .1);;
			border: 1px solid rgba($negro, .1);;
			font-size: .8em;
			border-radius: 5px;
			margin: .5em;
			text-shadow: 1px 1px 0px rgba($negro, .3);
		}
	}
}

main
{
	min-height: 100vh;
	padding-bottom: 150px;
	position: relative;
}
.banner
{
	// min-height: 550px;

	.texto
	{
		// background-color: rgba(black, .3);
		font-size: 2em;
		max-width: 20em;
		// font-weight: bold;
		color: rgba(white,	.9);
		text-align: center;
		text-shadow:1px 1px 4px rgba(0,0,0, 0.3);
		// padding: 1em;
		margin-top:2em;
		// border-radius: .5em;
		font-family: 'Droid Serif' ;
		font-style: italic;
		font-weight: 800;
	}
}

// Portafolio
// ==========

.libro
{
	// border:1px solid red;
	article
	{
		margin: 1.2em 0;
		padding: 0 2em;

		a
		{
			background-color: rgba($blanco, .3);
			// padding: .5em;
			// text-decoration: underline;
			// box-shadow: 3px 3px 5px rgba($negro, .5);
			border-radius: 8px;
			display: block;
			position: relative;
			border: 1px solid rgba($principal, .5);
			&:hover
			{
			border: 1px solid $principal;
				color: rgba($principal, 1);
				background-color: rgba($blanco, .8);
				box-shadow: 0px 0px 15px rgba($blanco, .8);
				// text-shadow: 1px 1px 0px rgba($blanco, .4);
				.article-texto
				{
					color: rgba($blanco, 1);
					background-color: rgba($principal, 1);
				}
			}
			img
			{
				border-radius: 8px;
			}
			.article-texto
			{
				// display: none;
				border-radius: 0 0 5px 5px;
				color: rgba($principal, .6);
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba($blanco, 1);
				line-height: 2;

			}
		}
	}
}


// .version
// {
// 	padding:1em;
// 	a
// 	{
// 		text-align:center;
// 	}
// }

// .nav-bar
// {
// 	&:focus
// 	{
// 		background-color:black;
// 		color:white;
// 	}
// 	margin-bottom:1em;
// }


.formulario
{
	#reserva
    {
        iframe   
        {
            margin: 1em auto;
            display: inherit;
            background-color: transparent !important;
            border-radius: 1em;
        }
    }
}

.contacto
{
	// position: relative;
	// background-color:lightblue;
	>div
	{
		margin-bottom:2em;
	}
	#reserva iframe
	{
		// background:transparent ;
		// position:absolute;
		display: inherit;
		height:650px;
		width:100%;
		border:none;
		background-color:lightblue !important;
	}
}