main
{
	min-height: 100vh;
	padding-bottom: 150px;
	position: relative;
}
.banner
{
	height: 550px;
	.fondo
	{
		background-image: url(/img/paisajes/volcan_osorno.jpg);
		background-size: cover;
		// background-repeat: no-repeat;
		// background-attachment: fixed;
		// background-position:0 -477px;
		background-position: center center;
		background-color: green; 
	}
	.texto
	{
		background-color: rgba(black, .3);
		max-width: 20em;
		font-size: 1.2em;
		color: white;
		text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
		text-align: center;
		padding: 1em;
		margin-top:2em;
		border-radius: .5em;
	}
}

// .version
// {
// 	padding:1em;
// 	a
// 	{
// 		text-align:center;
// 	}
// }

// .nav-bar
// {
// 	&:focus
// 	{
// 		background-color:black;
// 		color:white;
// 	}
// 	margin-bottom:1em;
// }


.formulario
{
	iframe
	{
		margin: 1em auto;
		display: inherit;
	}
}

.contacto
{
	// position: relative;
	// background-color:lightblue;
	iframe
	{
		// position:absolute;
		display: inherit;
		height:650px;
		width:100%;
		border:none;
		background-color:lightblue;
	}
}